@using ChatManager.Models
@model IEnumerable<ChatManager.Models.Message>
@{
    ViewBag.Title = "Admin";

}

<h2>Conversations</h2>

@if (Model != null)
{
    <table>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Helper.GetUser(item.IdUserMain)
                    

                </td>
                <td>
                    @Helper.GetUser(item.IdUserOther)
                </td>
                <td>
                    
                    <div>
                        @Helper.IconConfirmCmdWithParam("Chat","DeleteAdmin",new {id = item.Id},"icon fa fa-times","Supprimer")
                    </div>

                </td>
                <td>
                    <br />
                    <div class="sent" title="@item.PostingTime.Hour">

                        <span class="token"> @Helper.ParseContent(@item.Text)</span>

                    </div>
                </td>
            </tr>
        
        }

    </table>

    

}