@using ChatManager.Models
@model IEnumerable<ChatManager.Models.Message>
@{
    ViewBag.Title = "GetMessages";

}



<div class="messagesHeader">
 
   

    @if ((ChatManager.Models.User)Session["CurrentTarget"] == null)
    {

        <h4>Sélectionnez un ami</h4>
    }
    else
    {
        User user = (ChatManager.Models.User)Session["CurrentTarget"];

        @Helper.convUserChat(user);
    }


</div>

<div>
    @if (Model != null)
    {
        

        foreach (var item in Model)
        {



            User otherUser = (ChatManager.Models.User)Session["CurrentTarget"];
            if (Session["CurrentTarget"] != null)
            {
               

                if (item.IdUserMain == OnlineUsers.GetSessionUser().Id)
                {

                    <div class="messageTime">@Helper.When(item.PostingTime)</div>
                    <div class="sentLayout">
                        <div class="sent" title="@item.PostingTime.Hour:@item.PostingTime.Minute" id="sent_@item.Id"utc="-4">
                            <span class="token"> @Helper.ParseContent(@item.Text)</span>

                        </div>

                    </div>
                    <div class="editMessage" id="edit_@item.Id">
                        <input id="@item.PostingTime" value="@item.Text" class="sent form-control">
                        <span class="icon fa fa-check smallerIcon" id="update_@item.Id" title="Modifier ce massage" data-placement="bottom"></span>
                        <span class="icon fa fa-times smallerIcon" id="delete_@item.Id" title="Effacer ce massage" data-placement="bottom"></span>
                    </div>


                }
                else
                {
                    <div class="messageTime">@Helper.When(item.PostingTime)</div>
                    <div class="receivedLayout" title="@item.PostingTime.Hour:@item.PostingTime.Minute" utc="-4">
                        <div class="received">
                            <span> @Helper.ParseContent(@item.Text)</span>

                        </div>

                    </div>

                }

            }


        }

    }



</div>
