@using ChatManager.Models
@model ChatManager.Models.FriendshipsView

@{
    ViewBag.Title = "Index";
}




<div>

    <div style="align-items: center; display: grid; grid-template-columns: 65px auto; ">
        <img src="~/friendships.png" style=" width: 56px;" />
        <h2>Gestion des amitiés</h2>
    </div>
    <hr />
    <div style="display: grid; grid-template-columns: 295px 35px; column-gap: 10px; margin-bottom: 10px;">
        <input type="search" placeholder="recherche..." class="form-control" id="searchInput" />
        <span class="icon fa fa-search" id="searchButton" style="margin-top: 5px;"></span>
    </div>
    

    <div class="friendfilters">

        <input type="checkbox" id="filter_NotFriend" class="filter" value="@FriendshipStatus.Neutral.ToString()" checked="checked"/>
        <label class="fa green fa-plus-circle" titre=" test"></label>

        <input type="checkbox" id="filter_Request" class="filter" value="@FriendshipStatus.RequestReceive.ToString()" checked="checked"/>
        <label class="fa green fa-check" titre=" test"></label>

        <input type="checkbox" id="filter_Pending" class="filter" value="@FriendshipStatus.RequestSend.ToString()" checked="checked"/>
        <label class="fa green fa-clock-o" titre=" test"></label>

        <input type="checkbox" id="filter_Friend" class="filter" value="@FriendshipStatus.Friend.ToString()" checked="checked"/>
        <label class="fa green fa-check-circle" titre=" test"></label>

        <input type="checkbox" id="filter_Refused" class="filter" value="@FriendshipStatus.IDecline.ToString()" checked="checked"/>
        <label class="fa red fa-times-circle" titre=" test"></label>

        <input type="checkbox" id="filter_Blocked" class="filter" value="@FriendshipStatus.Blocked.ToString()" checked="checked"/>
        <label class="fa red fa-ban" titre=" test"></label>

    </div>
    <div class="main">
        <div id="friendshipsListContainer">

        </div>
        <hr />

        


    </div>

</div>

    @section Scripts {
        <script defer>
            //PartialRefresh.setEndSessionAction("@Url.Action("End", "Session")");
            let friendships = new PartialRefresh("@Url.Action("Friendships")", "friendshipsListContainer", 5);
           
            
            $(".filter").click(function() {
                var filterValue = $(this).val();
            
                if ($(this).is(":checked")) {
                    $("." + filterValue).show();
                    if (filterValue === @FriendshipStatus.IDecline.ToString()){
                        $("." + @FriendshipStatus.OtherDecline.ToString()).show();
                    }
                } else {
                    $("." + filterValue).hide();
                    if (filterValue === @FriendshipStatus.IDecline.ToString()){
                        $("." + @FriendshipStatus.OtherDecline.ToString()).hide();
                    }
                }
            });
            
        </script>
    }
